<video
  *ngIf="true"
  autoplay
  onloadedmetadata="this.muted = true"
  loop
  id="myVideo"
>
  <source src="../../../assets/video.mp4" type="video/mp4" />
  Your browser does not support HTML5 video.
</video>

<div class="content"><h1 align="center">User Mgmt System</h1></div>

<!--
  <div fxFill fxLayout="column">
      <div fxFlex fxLayout="row" class="body" >
          <div class="arti" fxFlex>
              <h1>Employee Mgmt System</h1>
              <video autoplay muted loop id="myvideo">
                  <source src="../../../assets/video.mp4" type="video/mp4">
              </video>
          </div>
      </div>
  </div>
-->

<!--
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="20%">
            </div>
          <div fxFlex="60%">
            <img mat-card-image class="img" src="../../../assets/ems2b.jpg">
          </div>
          <div fxFlex="20%">

          </div>
      </div>
-->
